@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url(/public/assets/main-bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    max-width: 1326px;
    margin: 0 auto;
}